<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478069954126-stka2ihuivcn2h9gvuebojac0isetjet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478069954126-stka2ihuivcn2h9gvuebojac0isetjet</string>
	<key>API_KEY</key>
	<string>AIzaSyCyN6yphrChD5exPSHaEec_4jnZNmUG8c0</string>
	<key>GCM_SENDER_ID</key>
	<string>478069954126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devExample.AmityCreateIdeasApp</string>
	<key>PROJECT_ID</key>
	<string>ideas-demo-api</string>
	<key>STORAGE_BUCKET</key>
	<string>ideas-demo-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478069954126:ios:ca4c66cb3a8e2b75d8151f</string>
	<key>DATABASE_URL</key>
	<string>https://ideas-demo-api.firebaseio.com</string>
</dict>
</plist>